@model IEnumerable<ProductViewModel>

@{
	ViewData["Title"] = "Products";
	var products = Model.ToList();
}
<a class="btn btn-primary" asp-controller="Product" asp-action="AddProduct">Add Product</a>
@if (!products.Any())
{
	<div class="mt-4 p-5 bg-light">
		<h1 class="display-4">All products of the company!</h1>
		<p class="lead">
			There are no products in the system currently available
			so why don't you just add one?
		</p>
		<hr class="my-4">
	</div>
}
<section style="background-color: white;">
	<div class="text-center container py-5">
		<h2 class="mt-1 mb-4">Our product portfolio</h2>

		<div class="card-group">
		@for (int i = 0; i < products.Count(); i++)
		{
		<partial name="ProductPartial" model="@products[i]" />
		}
		</div>
	</div>
</section>


	



