@model ProductViewModel;


<div class="col-3">
	<img class="card-img-bottom" style="width: 20rem;"
		 src="@Model.Image" alt="Product Image">
</div>
<div class="row">
	<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
		<form method="post">
			<div class="form-group">
				<label asp-for="Name"></label>
				<input asp-for="Name" class="form-control" placeholder="Name...">
				<span asp-validation-for="Name" class="small text-danger"></span>
			</div>
			
			<div class="form-group">
				<label asp-for="Description"></label>
				<textarea asp-for="Description" rows="4" class="form-control" placeholder="..."></textarea>
				<span asp-validation-for="Description" class="small text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Image"></label>
				<input asp-for="Image" class="form-control" placeholder="Your fine URL here...">

				<span asp-validation-for="Image" class="small text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Price"></label>
				<input asp-for="Price" class="form-control">
				<span asp-validation-for="Price" class="small text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Quantity"></label>
				<input asp-for="Quantity" class="form-control">
				<span asp-validation-for="Quantity" class="small text-danger"></span>
			</div>
			<div class="form-group col-md-3">
				<div class="form-group">
					<label asp-for="@Model.IsNew"></label>
					<input asp-for="@Model.IsNew" type="checkbox" />
				</div>
			</div>
			
			<div class="text-center">
				<input class="btn btn-warning mt-3" type="submit" value="Etit" />
			</div>
		</form>
	</div>
</div>
