@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Under Construction</h1>

	@*<img src="~/pics/GGG.jpg" class="img-fluid max-width: 40%" alt="Responsive image">*@



	<p>Learn about  <a href="https://docs.microsoft.com/aspnet/core">MINI ERP</a></p>

	

	<img src="https://www.transparentpng.com/thumb/robot/yellow-robot-png-vrvxJ4.png" class="img-fluid" alt="Responsive image">
	
	
		
</div>
